In [65]:
import pandas as pd

In [66]:
countries = """
AGO
CAF
ZAF
MDG
LVA
VNM
THA
SWE
SDN
PHL
PER
POL
LAO
COL
DEU
VEN
BGD
AUS
NPL
NLD
MYS
MMR
IRN
IND
IDN
GBR
FRA
CAN
""".strip("\n").split("\n")
cnt_names_df = pd.read_csv("support/country_names.csv")
cnt_names_df[cnt_names_df['code'].isin(countries)].to_csv('support/country_filtered.csv')

In [67]:
country_names = pd.read_csv('support/country_filtered.csv', index_col=0)
country_names = {i['code']: i['country'] for _, i in country_names.iterrows()}

In [68]:
def try_to_int(i):
    result = i
    try:
        result = int(i)
    except:
        pass
    finally:
        return str(result)

In [69]:
#df = pd.read_csv('Global_Education.csv', encoding='latin-1')

In [70]:
#ввп, уровень образования, уровень счастья, средний доход

In [71]:
df = pd.read_excel('EdStatsEXCEL.xlsx')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886925,Zimbabwe,ZWE,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886926,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886927,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886928,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886929,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
FEATURE = 'Enrolment in tertiary education, all programmes, both sexes (number)'
df1 = df[df['Indicator Name'] == FEATURE]
df1

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
1204,Arab World,ARB,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,7.064161e+05,733981.25,7.947590e+05,8.713473e+05,9.573831e+05,1066646.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4869,East Asia & Pacific,EAS,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,3.862326e+06,3911795.25,4.168510e+06,4.352076e+06,4.722968e+06,5096384.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8534,East Asia & Pacific (excluding high income),EAP,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1.537261e+06,1608607.25,1.704481e+06,1.800722e+06,2.030302e+06,2256922.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12199,Euro area,EMU,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,4.190176e+06,4196501.00,4.429356e+06,4.716754e+06,4.910956e+06,5188782.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15864,Europe & Central Asia,ECS,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1.446785e+07,14753502.00,1.521177e+07,1.572178e+07,1.615198e+07,16751116.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869809,Virgin Islands (U.S.),VIR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,1445.00,1.644000e+03,1.776000e+03,1.698000e+03,1918.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873474,West Bank and Gaza,PSE,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877139,"Yemen, Rep.",YEM,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880804,Zambia,ZMB,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1.433000e+03,NaN,NaN,NaN,4.681000e+03,8403.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884469,Zimbabwe,ZWE,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,6878.00,7.210000e+03,7.850000e+03,7.819000e+03,8479.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df1_cc = df1[df1['Country Code'].isin(country_names.keys())]
df1_cc

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
111154,Angola,AGO,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129479,Australia,AUS,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,179664.0,193532.0,208149.0,223855.0,252972.0,274738.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147804,Bangladesh,BGD,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,117603.0,NaN,136113.0,140770.0,183833.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221104,Canada,CAN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228434,Central African Republic,CAF,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,155.0,NaN,NaN,381.0,415.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246759,Colombia,COL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,85560.0,99262.0,116709.0,130682.0,148613.0,176098.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338384,France,FRA,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,801156.0,841049.0,906568.0,936052.0,989439.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356709,Germany,DEU,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415349,India,IND,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,2472963.0,NaN,2773148.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419014,Indonesia,IDN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,248220.0,NaN,255856.0,260205.0,264433.0,278200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422679,"Iran, Islamic Rep.",IRN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,74708.0,97338.0,115311.0,123114.0,135354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484984,Lao PDR,LAO,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,424.0,456.0,389.0,875.0,828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488649,Latvia,LVA,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
525299,Madagascar,MDG,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,5738.0,6683.0,8078.0,NaN,9354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532629,Malaysia,MYS,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587604,Myanmar,MMR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,46150.0,49572.0,51811.0,51829.0,53642.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598599,Nepal,NPL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,21760.0,23504.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602264,Netherlands,NLD,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,231167.0,247964.0,NaN,NaN,264297.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653574,Peru,PER,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,126234.0,129472.0,138935.0,160835.0,180699.0,195641.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657239,Philippines,PHL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,651514.0,688259.0,707232.0,736803.0,721398.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660904,Poland,POL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,397897.0,399060.0,429646.0,481295.0,521899.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
737869,South Africa,ZAF,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,82697.0,NaN,NaN,98577.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767189,Sudan,SDN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778184,Sweden,SWE,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,141218.0,141367.0,133168.0,131614.0,128879.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796509,Thailand,THA,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,90300.0,100000.0,105000.0,110394.0,136263.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844154,United Kingdom,GBR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,601300.0,615800.0,622100.0,637086.0,703645.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862479,"Venezuela, RB",VEN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,100767.0,122577.0,143171.0,161054.0,187688.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
866144,Vietnam,VNM,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
assert(len(df1_cc['Country Code'].unique()) == len(country_names))

In [75]:
df2 = pd.read_excel('API_NY.ADJ.NNTY.PC.CD_DS2_en_excel_v2_458.xls')
df2.columns = [try_to_int(i) for i in df2.iloc[2].tolist()]
df2 = df2.iloc[3:].reset_index(drop=True)
df2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23111.232224,24093.582639,24018.878425,24457.602265,24859.525435,26702.132157,20971.438087,24994.772988,NaN,NaN
1,Africa Eastern and Southern,AFE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1343.347342,1236.498033,1167.651297,1313.117754,1257.046421,1228.514026,1113.051649,1232.351821,NaN,NaN
2,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,577.260184,550.241360,485.792229,498.041221,467.286034,469.477760,476.899060,339.682114,NaN,NaN
3,Africa Western and Central,AFW,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1838.464813,1589.531108,1397.764260,1316.043520,1412.503047,1440.327860,1399.151980,1415.982509,NaN,NaN
4,Angola,AGO,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3490.921523,2374.531996,1207.215215,1501.637531,1507.863453,1328.708143,1100.962834,1232.948233,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1323.269168,1366.411677,1016.887235,849.030933,665.907750,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5646.961218,5127.603776,4681.677958,5505.776036,5740.363783,5449.048686,4658.248020,5717.120396,NaN,NaN
264,Zambia,ZMB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1375.312762,1050.129153,988.532254,1138.740164,1142.799848,1010.373209,698.249518,614.647305,NaN,NaN
265,Zimbabwe,ZWE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1081.898309,1088.188448,1082.175060,907.633691,1980.607561,1218.164067,1161.171249,1472.254411,NaN,NaN

In [76]:
df2_cc = df2[df2['Country Code'].isin(country_names.keys())]
df2_cc

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
4,Angola,AGO,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3490.921523,2374.531996,1207.215215,1501.637531,1507.863453,1328.708143,1100.962834,1232.948233,NaN,NaN
13,Australia,AUS,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,48732.924925,44512.596029,39077.689317,42069.085147,44204.125502,42130.894637,40036.445822,45710.890451,NaN,NaN
20,Bangladesh,BGD,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1082.660989,1205.931837,1590.937291,1716.254392,1868.098125,2178.802955,2290.392475,2541.711746,NaN,NaN
34,Central African Republic,CAF,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,325.417364,293.402627,311.426391,361.353785,382.506700,373.058814,369.283444,391.039615,NaN,NaN
35,Canada,CAN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,41604.080514,35365.694019,34319.795653,36906.149126,37836.008036,37803.077323,34972.782942,42000.913461,NaN,NaN
45,Colombia,COL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6572.181160,5244.145101,5050.789019,5421.758926,5601.735364,5361.516527,4578.598876,5094.625554,NaN,NaN
55,Germany,DEU,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,40356.483120,34656.441906,35663.678893,37760.339676,40854.555972,39718.002334,39043.097150,42982.481891,NaN,NaN
77,France,FRA,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,36234.531198,30908.686330,31203.694850,32666.612562,34960.740757,33895.528771,31922.266094,36489.804086,NaN,NaN
81,United Kingdom,GBR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39539.116496,37441.028418,34104.356814,34065.891026,36072.663208,NaN,NaN,NaN,NaN,NaN
106,Indonesia,IDN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2620.108495,2561.208531,2812.036691,2968.943097,2957.466439,3114.022894,2965.440440,3224.249891,NaN,NaN
109,India,IND,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1351.773681,1390.312542,1487.766041,1717.793518,1726.284316,1792.586442,1645.130352,1916.125747,NaN,NaN
112,"Iran, Islamic Rep.",IRN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4589.081748,3972.055860,4454.510584,4560.098582,2782.633508,2463.288047,2082.385764,2999.389490,NaN,NaN
129,Lao PDR,LAO,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1526.042405,1646.665898,1791.827900,1851.652656,1960.159707,1957.696298,1935.776364,1844.840980,NaN,NaN
145,Latvia,LVA,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11936.758860,10454.851662,11023.219060,12167.366133,13751.569192,13837.831745,14147.461265,16238.889758,NaN,NaN
151,Madagascar,MDG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,419.853424,363.275581,370.852976,415.645873,436.189078,436.525982,393.382162,432.303587,NaN,NaN
160,Myanmar,MMR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1065.460137,1062.994181,1010.161413,1021.227632,1122.638073,1141.335221,1303.234730,1041.603662,NaN,NaN
169,Malaysia,MYS,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7915.030632,7055.890449,6983.027839,7170.644643,7789.898930,7991.165773,7474.005395,7867.554813,NaN,NaN
176,Netherlands,NLD,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43058.080456,36999.532440,37170.143764,40003.301819,43940.042396,42706.659126,41293.757374,46419.707121,NaN,NaN
178,Nepal,NPL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,799.375735,838.455539,827.603163,974.289895,1093.908447,1114.710818,1070.621675,1126.752088,NaN,NaN
186,Peru,PER,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5662.322844,5349.620439,5217.968702,5556.126982,5704.080291,5964.372767,5207.104702,5056.798183,NaN,NaN
187,Philippines,PHL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2956.235255,3023.260747,3088.391866,3126.351968,3227.186188,3404.173773,3127.151968,3174.416023,NaN,NaN
190,Poland,POL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11957.209040,10613.080625,10405.661262,11609.618131,13050.242230,13241.256602,13333.543285,15098.239664,NaN,NaN
206,Sudan,SDN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1867.954956,1992.761353,2353.337891,2819.805664,660.672119,632.104492,510.933655,629.995667,NaN,NaN
223,Sweden,SWE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,51104.430765,43373.545426,43610.186697,45639.940562,46269.208667,44558.122934,45322.007070,51830.626615,NaN,NaN
233,Thailand,THA,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4430.694931,4364.618028,4522.756367,4990.937473,5478.561739,5947.109849,5454.101184,5402.522176,NaN,NaN
254,"Venezuela, RB",VEN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11747.901803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Viet Nam,VNM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2061.700131,2093.610447,2224.070115,2404.576438,2649.165826,2829.363294,2941.226206,3037.456605,NaN,NaN
263,South Africa,ZAF,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5646.961218,5127.603776,4681.677958,5505.776036,5740.363783,5449.048686,4658.248020,5717.120396,NaN,NaN

In [77]:
assert(len(df2_cc['Country Code'].unique()) == len(country_names))

In [78]:
a = {i['Indicator Code']: i['Indicator Name'] for _, i in df1_cc.iterrows()}
b = {i['Indicator Code']: i['Indicator Name'] for _, i in df2_cc.iterrows()}
indicator_names = {**a, **b}
indicator_names

{'SE.TER.ENRL': 'Enrolment in tertiary education, all programmes, both sexes (number)',
 'NY.ADJ.NNTY.PC.CD': 'Adjusted net national income per capita (current US$)'}

In [79]:
def fill(df2, data=None):
    if data is None:
        data = {}
    years = df2.columns[df2.columns.str.isdigit()]
    for i, row in df2.iterrows():
        ccode = row['Country Code']
        cname = row['Country Name']
        icode = row['Indicator Code']
        iname = row['Indicator Name']    
        keyid = f"{ccode}_{icode}"
        for year in years:
            val = row[year]
            if pd.isna(val):
                continue
            year_key = int(year)
            data[(keyid, year_key)] = val ;"""{
                'value': val,
                'ccode': ccode,
                'cname': cname,
                'icode': icode,
                'iname': iname
            }"""
    return data

In [80]:
data_df1 = fill(df1_cc)
data_df2 = fill(df2_cc)

In [81]:
def data_to_df(data, fn=None):
    keys = sorted(data, key=lambda x: (x[1], x[0]))
    cols = sorted(set([i[0] for i in keys]))
    inds = sorted(set([int(i[1]) for i in keys]))
    df3 = pd.DataFrame(index=inds, columns=cols)
    for key in keys:
        df3.loc[key[1]][key[0]] = data[key]
    if fn:
        df3.to_csv(fn)
    return df3

def load_df(fn):
    return pd.read_csv(fn, index_col=0)

def store_df(data, fn):
    data_to_df(data, fn)
    return load_df(fn)

df3 = store_df(data_df1, 'df3.csv')
df3

,AGO_SE.TER.ENRL,AUS_SE.TER.ENRL,BGD_SE.TER.ENRL,CAF_SE.TER.ENRL,CAN_SE.TER.ENRL,COL_SE.TER.ENRL,DEU_SE.TER.ENRL,FRA_SE.TER.ENRL,GBR_SE.TER.ENRL,IDN_SE.TER.ENRL,...,NPL_SE.TER.ENRL,PER_SE.TER.ENRL,PHL_SE.TER.ENRL,POL_SE.TER.ENRL,SDN_SE.TER.ENRL,SWE_SE.TER.ENRL,THA_SE.TER.ENRL,VEN_SE.TER.ENRL,VNM_SE.TER.ENRL,ZAF_SE.TER.ENRL
1970,NaN,179664.0,117603.0,NaN,NaN,85560.0,NaN,NaN,NaN,248220.0,...,NaN,126234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82697.0
1971,NaN,193532.0,NaN,155.0,NaN,99262.0,NaN,801156.0,601300.00,NaN,...,NaN,129472.0,651514.0,397897.0,NaN,141218.0,90300.0,100767.0,NaN,NaN
1972,NaN,208149.0,136113.0,NaN,NaN,116709.0,NaN,841049.0,615800.00,255856.0,...,NaN,138935.0,688259.0,399060.0,NaN,141367.0,100000.0,122577.0,NaN,NaN
1973,NaN,223855.0,140770.0,NaN,NaN,130682.0,NaN,906568.0,622100.00,260205.0,...,NaN,160835.0,707232.0,429646.0,NaN,133168.0,105000.0,143171.0,NaN,98577.0
1974,NaN,252972.0,183833.0,381.0,NaN,148613.0,NaN,936052.0,637086.00,264433.0,...,21760.0,180699.0,736803.0,481295.0,NaN,131614.0,110394.0,161054.0,NaN,NaN
1975,NaN,274738.0,NaN,415.0,NaN,176098.0,NaN,989439.0,703645.00,278200.0,...,23504.0,195641.0,721398.0,521899.0,NaN,128879.0,136263.0,187688.0,NaN,NaN
1976,NaN,289701.0,158604.0,669.0,1079960.0,202437.0,NaN,1038576.0,732947.00,296326.0,...,19482.0,202662.0,769749.0,575499.0,NaN,162640.0,130965.0,213542.0,80323.0,NaN
1977,NaN,300030.0,181756.0,743.0,NaN,237477.0,NaN,1042738.0,750180.00,275098.0,...,25398.0,233420.0,814889.0,613842.0,NaN,171181.0,175438.0,NaN,100027.0,NaN
1978,NaN,309783.0,154496.0,1011.0,NaN,253547.0,NaN,1086938.0,760085.00,305071.0,...,31942.0,NaN,969952.0,622631.0,NaN,190105.0,216876.0,265671.0,122215.0,NaN
1979,NaN,317496.0,232780.0,1486.0,NaN,267885.0,NaN,1020503.0,783342.00,305583.0,...,38539.0,272982.0,1129056.0,626289.0,NaN,198798.0,375242.0,282074.0,136627.0,NaN
1980,NaN,323716.0,240181.0,2094.0,NaN,271630.0,NaN,1060412.0,795985.00,457633.0,...,NaN,306353.0,1182103.0,609997.0,NaN,200999.0,472995.0,299773.0,133558.0,NaN
1981,NaN,334030.0,244091.0,1719.0,NaN,318293.0,NaN,1076717.0,827146.00,543175.0,...,51356.0,362857.0,1276016.0,589134.0,NaN,171356.0,361400.0,307133.0,114701.0,NaN
1982,NaN,337953.0,297930.0,2549.0,NaN,335833.0,NaN,1150055.0,858416.00,565501.0,...,52070.0,379193.0,1335889.0,544895.0,NaN,176115.0,911166.0,331115.0,NaN,NaN
1983,NaN,349243.0,386542.0,2162.0,NaN,356000.0,NaN,1179268.0,980538.00,616117.0,...,48229.0,401715.0,1411515.0,495902.0,NaN,181103.0,1056809.0,349773.0,NaN,NaN
1984,NaN,358498.0,436615.0,2413.0,NaN,378586.0,NaN,NaN,1000168.00,831625.0,...,55555.0,425261.0,1576500.0,475816.0,NaN,184199.0,1120084.0,377287.0,NaN,NaN
1985,NaN,370048.0,461073.0,2522.0,NaN,391490.0,NaN,1255538.0,1006969.00,980162.0,...,54452.0,452462.0,1544000.0,456661.0,NaN,179478.0,1073520.0,381575.0,NaN,NaN
1986,NaN,390706.0,465552.0,2651.0,1639410.0,417654.0,NaN,1278581.0,1032491.00,1048885.0,...,78490.0,531834.0,1402000.0,454190.0,NaN,176589.0,1026952.0,443064.0,121159.0,NaN
1987,NaN,393734.0,415232.0,2450.0,NaN,434623.0,NaN,1289942.0,1068386.00,1277684.0,...,83356.0,567667.0,1357832.0,450205.0,NaN,175588.0,NaN,441734.0,NaN,NaN
1988,5872.0,420845.0,366355.0,2754.0,NaN,457834.0,NaN,1327771.0,1086092.00,1185651.0,...,95240.0,615398.0,1461000.0,458585.0,NaN,178423.0,884237.0,467371.0,NaN,378731.0
1989,5845.0,441076.0,370900.0,3075.0,1727260.0,474787.0,NaN,1477084.0,1113341.00,1403728.0,...,102130.0,656258.0,1579938.0,493552.0,NaN,181146.0,NaN,500295.0,175856.0,421152.0
1990,6281.0,485075.0,434309.0,3482.0,1840837.0,487448.0,NaN,1587202.0,1177792.00,1515689.0,...,93753.0,678236.0,1516315.0,505727.0,NaN,184812.0,952012.0,528857.0,185788.0,439007.0
1991,6534.0,534530.0,NaN,3840.0,1916801.0,510649.0,2048627.00,1698938.0,1258188.00,1590593.0,...,110239.0,728666.0,1709486.0,544893.0,NaN,192611.0,NaN,550030.0,129600.0,467129.0
1992,6331.0,559365.0,NaN,3684.0,1942814.0,535320.0,2033702.00,1840307.0,1385072.00,1773459.0,...,103840.0,732688.0,1656815.0,549308.0,NaN,207265.0,NaN,550783.0,106900.0,490112.0
1993,NaN,922699.0,NaN,NaN,1746919.0,547468.0,2112642.00,1951994.0,1528389.00,1795453.0,...,102882.0,666967.0,NaN,627308.0,NaN,222826.0,1156174.0,NaN,136800.0,552948.0
1994,NaN,932969.0,NaN,NaN,1776792.0,576540.0,2132162.00,2083232.0,1664025.00,2043380.0,...,98731.0,650621.0,NaN,747159.0,NaN,234466.0,NaN,NaN,157100.0,617897.0
1995,NaN,964998.0,NaN,NaN,1783716.0,588322.0,2155728.00,2072552.0,1813280.00,2229796.0,...,93176.0,671802.0,1871647.0,876057.0,NaN,245932.0,1184309.0,NaN,203300.0,NaN
1996,NaN,1002476.0,NaN,NaN,1763105.0,644188.0,2144169.00,2091688.0,1820849.00,2303469.0,...,105694.0,647389.0,2022106.0,1021351.0,NaN,261209.0,1220481.0,NaN,297900.0,NaN
1997,NaN,1041648.0,NaN,NaN,NaN,772291.0,2131907.00,2062495.0,1891450.00,2705675.0,...,NaN,657586.0,NaN,1182360.0,NaN,275217.0,1332767.0,NaN,509300.0,NaN
1998,8337.0,869172.0,NaN,NaN,1192570.0,879840.0,NaN,2027422.0,1938423.00,2735724.0,...,NaN,NaN,2069508.0,1191099.0,NaN,280712.0,1522142.0,NaN,726302.0,NaN
1999,7845.0,845636.0,709224.0,6229.0,1220651.0,877944.0,NaN,2012193.0,2080960.00,3059658.0,...,NaN,1011839.0,2208635.0,1399090.0,172269.0,335124.0,1814096.0,NaN,810072.0,NaN
2000,NaN,845132.0,726701.0,6323.0,1212161.0,934085.0,NaN,2015344.0,2024138.00,3126307.0,...,94401.0,900059.0,NaN,1579571.0,182012.0,346878.0,1900272.0,668109.0,732187.0,NaN
2001,NaN,868689.0,878537.0,NaN,NaN,977243.0,NaN,2031743.0,2067349.00,3017887.0,...,103290.0,814217.0,2432002.0,1774985.0,231666.0,358020.0,2095694.0,NaN,749253.0,NaN
2002,12566.0,1012210.0,855339.0,NaN,NaN,989745.0,NaN,2029179.0,2240680.00,3175833.0,...,119670.0,830345.0,2467267.0,1906268.0,268410.0,382851.0,2155334.0,927835.0,784675.0,NaN
2003,48184.0,1005977.0,877335.0,NaN,NaN,NaN,NaN,2119149.0,2287833.00,3441429.0,...,124817.0,838584.0,2427211.0,1983360.0,255877.0,414657.0,2205581.0,983217.0,829459.0,NaN
2004,37547.0,1002998.0,821364.0,6384.0,NaN,1112574.0,NaN,2160300.0,2247441.00,3551092.0,...,147123.0,895501.0,2420997.0,2044298.0,317364.0,429623.0,2251453.0,1049780.0,NaN,NaN
2005,48184.0,1024589.0,911600.0,NaN,NaN,1223594.0,NaN,2187383.0,2287541.00,3662234.0,...,187165.0,908315.0,2402649.0,2118081.0,363953.0,426723.0,2359127.0,NaN,1354543.0,NaN
2006,48694.0,1040153.0,1053566.0,4462.0,NaN,1314972.0,NaN,2201201.0,2336111.00,3657429.0,...,202076.0,951391.0,2483988.0,2145687.0,420369.0,422614.0,2338572.0,NaN,1427046.0,NaN
2007,NaN,1083715.0,1145401.0,NaN,NaN,1372674.0,NaN,2179505.0,2362815.00,3806629.0,...,254792.0,NaN,NaN,2146926.0,420369.0,413710.0,2503572.0,NaN,1587609.0,NaN
2008,NaN,1117804.0,1294535.0,9473.0,NaN,1487186.0,NaN,2164538.0,2329494.00,4419577.0,...,284973.0,NaN,2651466.0,2165980.0,475787.0,406879.0,2430047.0,2109331.0,1654846.0,NaN
2009,NaN,1199845.0,1582175.0,10427.0,NaN,1570447.0,NaN,2172855.0,2415222.00,4859409.0,...,289262.0,NaN,2625385.0,2149998.0,498151.0,422580.0,2417262.0,2123041.0,1774321.0,NaN
2010,NaN,1276488.0,NaN,11158.0,NaN,1674420.0,NaN,2245097.0,2479197.00,5001048.0,...,376869.0,1150620.0,2774368.0,2148676.0,522774.0,455025.0,2426577.0,NaN,2020413.0,NaN
2011,142798.0,1324257.0,2008337.0,13289.0,NaN,1849466.0,NaN,2259448.0,2492284.00,5364301.0,...,385454.0,NaN,2951195.0,2080334.0,525853.0,463530.0,2497323.0,NaN,2229494.0,NaN
2012,NaN,1364203.0,2037118.0,12522.0,NaN,1958429.0,NaN,2296306.0,2495779.00,6233984.0,...,NaN,NaN,3044218.0,2007212.0,551198.0,453328.0,2430471.0,NaN,2261204.0,1005721.0
2013,218679.0,1390478.0,NaN,NaN,NaN,2109224.0,2780012.75,2338135.0,2386199.00,6423455.0,...,477077.0,NaN,3317265.0,1902718.0,640224.0,436603.0,2405109.0,NaN,2250030.0,1035594.0
2014,NaN,1453521.0,2068355.0,NaN,NaN,2220652.0,2912203.50,2388880.0,2352932.75,6463297.0,...,458621.0,NaN,3563396.0,1762666.0,632377.0,429444.0,2433140.0,NaN,2692124.0,1018543.0
2015,221037.0,NaN,NaN,NaN,NaN,2293550.0,2977781.00,NaN,NaN,5107999.0,...,445324.0,NaN,NaN,NaN,NaN,428557.0,2235450.0,NaN,2466643.0,NaN

In [82]:
df4 = store_df(data_df2, 'df4.csv')
df4

,AGO_NY.ADJ.NNTY.PC.CD,AUS_NY.ADJ.NNTY.PC.CD,BGD_NY.ADJ.NNTY.PC.CD,CAF_NY.ADJ.NNTY.PC.CD,CAN_NY.ADJ.NNTY.PC.CD,COL_NY.ADJ.NNTY.PC.CD,DEU_NY.ADJ.NNTY.PC.CD,FRA_NY.ADJ.NNTY.PC.CD,GBR_NY.ADJ.NNTY.PC.CD,IDN_NY.ADJ.NNTY.PC.CD,...,NPL_NY.ADJ.NNTY.PC.CD,PER_NY.ADJ.NNTY.PC.CD,PHL_NY.ADJ.NNTY.PC.CD,POL_NY.ADJ.NNTY.PC.CD,SDN_NY.ADJ.NNTY.PC.CD,SWE_NY.ADJ.NNTY.PC.CD,THA_NY.ADJ.NNTY.PC.CD,VEN_NY.ADJ.NNTY.PC.CD,VNM_NY.ADJ.NNTY.PC.CD,ZAF_NY.ADJ.NNTY.PC.CD
1970,NaN,2692.518584,NaN,NaN,3414.622294,285.990785,2420.153447,2521.807023,2267.450040,72.640379,...,NaN,477.409869,NaN,NaN,NaN,4162.113913,NaN,835.242032,NaN,NaN
1971,NaN,2843.539996,NaN,NaN,3758.307738,304.803219,2781.034325,2789.171927,2534.270487,72.031916,...,67.437788,523.696358,190.723069,NaN,NaN,4508.968476,184.281424,871.474865,NaN,860.434655
1972,NaN,3265.218037,NaN,NaN,4257.451046,331.919852,3309.881783,3376.263151,2881.707738,80.642157,...,76.507546,564.683971,200.785106,NaN,NaN,5296.044499,197.911613,934.461929,NaN,868.627596
1973,NaN,3961.972558,104.883090,NaN,4839.689668,390.629664,4387.974388,4340.683845,3246.470747,114.059735,...,70.954372,640.570824,249.767003,NaN,NaN,6413.205134,258.025224,1059.787789,NaN,1152.844221
1974,NaN,5350.456670,158.908979,NaN,5712.946183,451.595352,4865.595713,4615.928255,3456.507280,157.714958,...,86.890473,778.306912,342.665261,NaN,NaN,7050.944973,320.366533,1266.548422,NaN,1377.589208
1975,NaN,5800.844572,239.247002,NaN,6148.625044,468.079962,5344.049704,5767.301543,4064.554993,186.200098,...,109.808710,950.765388,362.604736,NaN,NaN,8849.708765,337.896745,1517.372634,NaN,1352.847667
1976,NaN,6205.381180,121.189711,NaN,7231.924597,543.362218,5702.210021,5912.845626,3891.152906,223.927713,...,99.106727,859.295794,404.675048,NaN,NaN,9468.325957,375.144671,1718.293500,NaN,1234.214351
1977,NaN,6336.903280,110.767603,NaN,7288.631412,691.299785,6596.738744,6462.410908,4308.658951,263.467649,...,91.507746,773.482703,456.432091,NaN,NaN,9859.674544,427.063419,2006.150755,NaN,1307.738269
1978,NaN,6735.988549,150.277960,NaN,7439.306745,817.647670,8167.824587,8010.155636,5473.196929,292.969556,...,103.504614,618.661960,515.441525,NaN,NaN,10825.374688,505.592954,2070.701044,NaN,1447.903844
1979,NaN,7428.288832,174.134888,NaN,7922.762841,952.191199,9669.462235,9659.532878,6967.861662,237.735891,...,116.153497,718.131066,597.387891,NaN,NaN,12757.261980,560.466925,1990.216167,NaN,1685.980572
1980,NaN,8172.988546,198.654352,278.785624,8745.604821,1116.084960,10333.024270,10922.609224,8807.363459,347.081687,...,118.975678,789.437825,690.122970,NaN,NaN,14680.603383,639.284150,2478.062977,NaN,2270.425499
1981,NaN,9728.451801,220.305211,249.126416,9752.938458,1182.595877,8598.929039,9481.703001,8319.677752,435.685023,...,136.327740,994.278567,741.535923,NaN,NaN,13275.500183,666.801914,2973.075786,NaN,2329.973674
1982,NaN,10258.181279,195.959179,262.596746,9873.077907,1228.694467,8303.480522,8900.593441,7969.242663,487.236732,...,140.555897,992.153435,744.670496,NaN,NaN,11593.428609,683.541705,3118.210234,NaN,2071.039159
1983,NaN,9380.934154,183.701632,225.875044,10706.574851,1167.951496,8295.590387,8411.493962,7601.090534,416.926494,...,139.794778,730.393106,644.861757,NaN,NaN,10583.844633,736.664366,2905.017004,NaN,2266.987401
1984,NaN,10074.815060,192.180571,219.153170,11097.109824,1112.388371,7863.416326,7915.753489,7145.860908,423.061040,...,146.257972,717.285402,574.910503,NaN,NaN,11050.520770,744.584580,2496.596250,NaN,2009.733313
1985,545.234365,9142.596003,218.369681,299.920478,11332.258972,979.180530,7966.953728,8266.220492,7476.589204,423.322371,...,142.889963,666.913727,546.978431,NaN,NaN,11509.613444,670.761101,2661.851652,NaN,1397.941632
1986,559.875809,9054.964452,208.714170,381.571444,11704.987163,968.462663,11388.827016,11576.678783,9409.889739,406.618552,...,152.232900,621.706955,519.779774,NaN,NaN,15273.826060,725.227532,2588.518141,NaN,1544.749372
1987,485.083987,9257.534951,228.708512,394.003971,13252.829639,958.976605,14069.971742,13984.680454,11526.690505,365.697520,...,154.817630,833.906608,571.961132,NaN,NaN,18595.279962,839.720172,1938.176910,NaN,2023.179120
1988,458.601519,11456.179241,244.169115,410.498893,15354.498048,1037.181353,15243.036934,15174.195997,14080.336636,407.755703,...,181.989671,538.233333,646.602640,NaN,NaN,20852.660619,1011.358926,2449.039692,NaN,2130.773060
1989,664.898416,14164.744704,258.834583,394.921921,16740.828940,986.041751,15136.427888,15141.814029,14122.779272,433.989703,...,181.122164,797.822140,713.963966,NaN,NaN,21697.038439,1169.619150,1572.798913,91.101966,2154.585938
1990,562.544484,14199.383859,277.364609,449.724913,17207.343173,1171.833541,19019.043191,18610.732258,16398.081944,470.913791,...,181.879224,961.184981,741.861766,977.074334,NaN,25680.582585,1332.598477,1768.470987,82.157020,2456.512000
1991,684.866584,14632.708623,266.995205,417.832456,17586.476602,1219.542034,19773.307339,18307.052070,17154.961943,532.827101,...,191.672005,1332.125216,751.970332,1311.334237,NaN,26549.294041,1510.615005,2034.655130,124.305695,2626.548080
1992,75.219653,14470.310040,268.836187,414.171801,16735.091102,1443.779502,22313.229962,20150.053298,17960.752838,576.131587,...,161.490696,1378.301828,868.508194,1526.956160,NaN,26897.011804,1684.656450,2249.855263,126.015724,2847.758201
1993,88.782403,13945.398323,276.963057,361.331776,16170.209939,1638.972301,21371.874059,18919.544228,16162.179535,715.547445,...,168.718438,1310.494703,868.536422,1756.538836,NaN,19711.194007,1917.883752,2137.584469,166.511867,2832.205530
1994,15.484510,14441.539445,277.745221,236.261807,16017.944157,2003.218543,22642.909632,19869.258804,17726.879048,804.428750,...,183.152382,1642.594815,1011.299675,2282.401479,NaN,21623.408111,2140.020759,1983.707383,206.022559,2914.017702
1995,181.051488,16118.046539,306.019777,303.901497,16619.926578,2205.061451,26435.103287,22804.047765,19281.295870,900.757722,...,192.608063,1894.573594,1143.790954,3089.875430,NaN,25357.171909,2418.138144,2628.109779,264.352256,3234.596530
1996,208.478747,17458.738748,366.307151,261.878466,17002.699842,2233.953854,25446.259511,22934.389089,20267.474565,996.364942,...,195.299682,1956.676863,1262.695058,3508.289669,NaN,27555.750884,2537.983944,2230.335519,306.106668,3018.401931
1997,265.630619,18756.052701,375.196872,240.654449,17542.888960,2412.609299,22429.162330,20795.246270,22819.647258,931.337659,...,207.701567,2034.358113,1245.497730,3499.555849,NaN,25246.407112,1980.706510,2733.457868,326.463412,3101.648803
1998,252.983344,17083.682848,381.179892,242.953947,16794.229268,2202.372913,22615.009380,21519.760821,24813.523592,387.534832,...,200.386473,1926.154829,1049.375387,3847.934265,NaN,25552.046732,1410.314595,2925.875098,325.477241,2772.469361
1999,164.262800,16493.576034,384.200088,247.456694,17868.200033,1833.482970,22110.417099,21420.876849,24834.767238,546.812628,...,202.582254,1689.224294,1176.823455,3746.895427,NaN,26206.538541,1592.698502,3077.534012,330.848848,2712.743388
2000,198.961805,17264.574828,392.897660,219.959770,19386.445410,2057.273244,19549.441842,19327.587428,24401.020433,621.964853,...,217.068879,1696.041363,1084.954421,3847.901058,NaN,25025.380673,1573.753421,3647.537314,341.582341,2675.913484
2001,251.398032,15632.687279,388.529839,220.884004,18986.154174,2029.438909,19447.035694,19368.710871,24062.701850,531.127427,...,232.553408,1712.365690,999.617127,4251.626773,NaN,22859.305628,1458.481864,3768.254619,354.925355,2328.956999
2002,547.354168,16161.318354,390.179165,230.893656,19536.532773,1986.540194,20609.381555,20726.809150,26117.410794,656.942066,...,229.935016,1783.550513,1043.846070,4438.613765,NaN,25085.752411,1639.320927,2678.248137,373.584408,2226.471317
2003,653.349989,18933.248080,422.010922,259.851518,22685.430543,1865.208572,24783.896385,25320.597598,29959.883519,771.301862,...,238.878236,1871.758230,1052.680096,4815.263554,NaN,31984.255321,1849.708424,2349.097640,408.172559,3414.536443
2004,772.384339,24524.498034,450.753571,282.256948,26001.660174,2257.008831,28464.029572,28879.468819,35034.761254,810.440895,...,268.351302,2029.506307,1095.703066,5524.964249,NaN,36331.384744,2093.242821,3208.571344,438.565535,4396.559362
2005,1010.978221,26918.779482,473.640417,292.454216,29228.971625,2791.184695,28850.872772,29732.718719,36605.041788,873.387199,...,297.344382,2254.790978,1217.437905,6747.053336,NaN,37127.980382,2261.296246,4186.173697,538.482518,4929.038101
2006,1367.003533,28348.206637,484.909238,314.192473,33132.807958,3032.792854,30794.461706,31189.037482,37973.615193,1123.453145,...,328.620606,2450.880567,1406.338486,7543.108523,NaN,40452.409664,2663.850504,5378.319948,604.586862,5096.692608
2007,1469.135354,31382.239364,537.441579,359.455690,36533.763055,3847.329844,35163.313925,35488.625778,42710.970880,1317.532799,...,372.489594,2834.864308,1660.309383,9386.707871,NaN,46849.537314,3170.473449,6978.630388,707.077475,5390.820498
2008,1509.092821,38072.675190,622.178332,408.392117,37787.351624,4371.342612,38083.934775,38687.988215,39510.517147,1536.905970,...,449.947592,3422.265014,1936.143381,11941.317446,NaN,48848.586776,3412.486141,9543.884468,883.026728,4818.795412
2009,1862.567788,33482.731903,691.200516,416.022967,32987.199663,4276.887700,34858.124861,35238.895464,32299.433940,1667.828698,...,459.877933,3474.027352,1893.197866,9791.852122,NaN,39718.794797,3306.371867,9471.572070,935.147120,5259.491889
2010,1869.182816,40434.735696,768.868050,419.941993,38679.332803,5117.455380,34884.034792,34395.099243,33571.199312,2320.478943,...,564.777106,4146.108961,2178.181664,10519.151772,NaN,45188.855530,3957.815940,11060.007771,1319.425727,6522.002250
2011,2459.515404,48363.135466,845.214490,460.754592,42617.841264,5695.136938,39563.817333,37186.936055,35752.958197,2670.452543,...,753.868936,4732.804877,2395.083910,11566.237160,1515.400879,51652.818109,4316.346589,8392.884630,1529.183303,7006.261414
2012,2864.093619,53605.738716,870.414581,468.968385,43023.425828,6324.501921,36959.968935,34392.293854,35519.330194,2755.128133,...,759.971981,5373.173893,2678.384089,11004.725188,1544.282471,49429.392370,4450.773234,9852.575137,1729.848001,6591.845946
2013,3187.601761,53871.554934,964.944097,295.710468,43052.134837,6536.184760,38946.313067,35875.673833,36085.945954,2718.836274,...,774.299532,5668.553125,2881.962227,11445.939400,1543.087036,52089.635276,4562.549180,9259.131449,1895.280444,5977.137238
2014,3490.921523,48732.924925,1082.660989,325.417364,41604.080514,6572.181160,40356.483120,36234.531198,39539.116496,2620.108495,...,799.375735,5662.322844,2956.235255,11957.209040,1867.954956,51104.430765,4430.694931,11747.901803,2061.700131,5646.961218
2015,2374.531996,44512.596029,1205.931837,293.402627,35365.694019,5244.145101,34656.441906,30908.686330,37441.028418,2561.208531,...,838.455539,5349.620439,3023.260747,10613.080625,1992.761353,43373.545426,4364.618028,NaN,2093.610447,5127.603776
2016,1207.215215,39077.689317,1590.937291,311.426391,34319.795653,5050.789019,35663.678893,31203.694850,34104.356814,2812.036691,...,827.603163,5217.968702,3088.391866,10405.661262,2353.337891,43610.186697,4522.756367,NaN,2224.070115,4681.677958
2017,1501.637531,42069.085147,1716.254392,361.353785,36906.149126,5421.758926,37760.339676,32666.612562,34065.891026,2968.943097,...,974.289895,5556.126982,3126.351968,11609.618131,2819.805664,45639.940562,4990.937473,NaN,2404.576438,5505.776036
2018,1507.863453,44204.125502,1868.098125,382.506700,37836.008036,5601.735364,40854.555972,34960.740757,36072.663208,2957.466439,...,1093.908447,5704.080291,3227.186188,13050.242230,660.672119,46269.208667,5478.561739,NaN,2649.165826,5740.363783
2019,1328.708143,42130.894637,2178.802955,373.058814,37803.077323,5361.516527,39718.002334,33895.528771,NaN,3114.022894,...,1114.710818,5964.372767,3404.173773,13241.256602,632.104492,44558.122934,5947.109849,NaN,2829.363294,5449.048686
2020,1100.962834,40036.445822,2290.392475,369.283444,34972.782942,4578.598876,39043.097150,31922.266094,NaN,2965.440440,...,1070.621675,5207.104702,3127.151968,13333.543285,510.933655,45322.007070,5454.101184,NaN,2941.226206,4658.248020
2021,1232.948233,45710.890451,2541.711746,391.039615,42000.913461,5094.625554,42982.481891,36489.804086,NaN,3224.249891,...,1126.752088,5056.798183,3174.416023,15098.239664,629.995667,51830.626615,5402.522176,NaN,3037.456605,5717.120396

In [83]:
from os import makedirs
from matplotlib import pyplot as plt

In [87]:
def to_png(df, col, path="plots2", size=(8, 4)):
    cmp1, cmp2 = col.split("_")
    nam1, nam2 = country_names[cmp1], indicator_names[cmp2]    
    ful1 = f"{cmp1} - {nam1}"
    ful2 = f"{cmp2} - {nam2}"
    ax = pd.DataFrame(df[col].tolist(), index=df.index, columns=[ful1]).plot.bar(title=ful2, figsize=size)
    fpath1 = f"{path}/by_country/{ful1}"
    fpath2 = f"{path}/by_param/{ful2}"    
    fpath3 = f"{path}/{nam1}"
    #makedirs(f"{path}/all", exist_ok=True)
    #makedirs(fpath1, exist_ok=True)
    #makedirs(fpath2, exist_ok=True)
    makedirs(fpath3, exist_ok=True)
    #ax.figure.savefig(f"{fpath1}/{col}.png")
    #ax.figure.savefig(f"{fpath2}/{col}.png")
    #ax.figure.savefig(f"{path}/all/{col}.png")
    ax.figure.savefig(f"{fpath3}/{col}.png")
    plt.close()

In [88]:
%%time
[to_png(df3, col) for col in df3.columns];
[to_png(df4, col) for col in df4.columns];

CPU times: total: 6.98 s
Wall time: 16.8 s