In [1]:
import pandas as pd

In [2]:
country_names = pd.read_excel('country_codes.xlsx', index_col=0)
country_names = {i['code']: i['name'] for _, i in country_names.iterrows()}

In [3]:
def try_to_int(i):
    result = i
    try:
        result = int(i)
    except:
        pass
    finally:
        return str(result)

In [13]:
#df = pd.read_csv('Global_Education.csv', encoding='latin-1')

In [14]:
#ввп, уровень образования, уровень счастья, средний доход

In [15]:
df = pd.read_excel('EdStatsEXCEL.xlsx')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886925,Zimbabwe,ZWE,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886926,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886927,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886928,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886929,Zimbabwe,ZWE,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
FEATURE = 'Enrolment in tertiary education, all programmes, both sexes (number)'
df1 = df[df['Indicator Name'] == FEATURE]
df1

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
1204,Arab World,ARB,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,7.064161e+05,733981.25,7.947590e+05,8.713473e+05,9.573831e+05,1066646.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4869,East Asia & Pacific,EAS,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,3.862326e+06,3911795.25,4.168510e+06,4.352076e+06,4.722968e+06,5096384.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8534,East Asia & Pacific (excluding high income),EAP,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1.537261e+06,1608607.25,1.704481e+06,1.800722e+06,2.030302e+06,2256922.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12199,Euro area,EMU,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,4.190176e+06,4196501.00,4.429356e+06,4.716754e+06,4.910956e+06,5188782.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15864,Europe & Central Asia,ECS,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1.446785e+07,14753502.00,1.521177e+07,1.572178e+07,1.615198e+07,16751116.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869809,Virgin Islands (U.S.),VIR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,1445.00,1.644000e+03,1.776000e+03,1.698000e+03,1918.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873474,West Bank and Gaza,PSE,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877139,"Yemen, Rep.",YEM,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880804,Zambia,ZMB,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1.433000e+03,NaN,NaN,NaN,4.681000e+03,8403.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884469,Zimbabwe,ZWE,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,6878.00,7.210000e+03,7.850000e+03,7.819000e+03,8479.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df1_cc = df1[df1['Country Code'].isin(country_names.keys())]
df1_cc

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
133144,Austria,AUT,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,59778.0,66401.0,73467.0,78787.0,84101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144139,Bahrain,BHR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,289.0,312.0,352.0,612.0,669.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188119,Brazil,BRA,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,430473.0,569230.0,696215.0,785159.0,954674.0,1089808.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195449,Brunei Darussalam,BRN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199114,Bulgaria,BGR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,99596.0,107296.0,117103.0,121798.0,127319.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221104,Canada,CAN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239429,Chile,CHL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,78430.0,101087.0,127238.0,146451.0,145003.0,149647.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246759,Colombia,COL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,85560.0,99262.0,116709.0,130682.0,148613.0,176098.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279744,Cyprus,CYP,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,698.0,810.0,921.0,849.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287074,Denmark,DNK,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,76024.0,86545.0,96883.0,103553.0,105414.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334719,Finland,FIN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,59769.0,61778.0,63303.0,67881.0,71526.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367704,Greece,GRC,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,85776.0,85001.0,91309.0,97131.0,111441.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430009,Ireland,IRL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,28501.0,29517.0,30020.0,31737.0,37897.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444669,Jamaica,JAM,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,6892.0,7506.0,8263.0,8413.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448334,Japan,JPN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,1819323.0,1927322.0,1977176.0,2062161.0,2155893.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451999,Jordan,JOR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,4518.0,5138.0,6604.0,8186.0,9302.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470324,"Korea, Rep.",KOR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,201436.0,214653.0,230330.0,250233.0,273479.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543624,Malta,MLT,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,2289.0,2405.0,2746.0,2571.0,2114.0,2397.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554619,Mauritius,MUS,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1975.0,1353.0,1295.0,1356.0,1321.0,1096.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602264,Netherlands,NLD,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,231167.0,247964.0,NaN,NaN,264297.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620589,Nigeria,NGA,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,NaN,NaN,NaN,NaN,39562.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627919,Norway,NOR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,50047.0,53598.0,57914.0,63838.0,64582.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642579,Panama,PAN,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,8947.0,15074.0,18280.0,21716.0,24292.0,26289.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660904,Poland,POL,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,397897.0,399060.0,429646.0,481295.0,521899.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664569,Portugal,PRT,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,50095.0,53389.0,55184.0,59845.0,64666.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697554,Saudi Arabia,SAU,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,8492.0,9471.0,11337.0,14882.0,19773.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
715879,Singapore,SGP,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,13771.0,13983.0,15598.0,16831.0,18195.0,22607.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745199,Spain,ESP,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,224904.0,250387.0,368299.0,406398.0,453389.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778184,Sweden,SWE,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,141218.0,141367.0,133168.0,131614.0,128879.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781849,Switzerland,CHE,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,51426.0,53595.0,56534.0,60329.0,62584.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844154,United Kingdom,GBR,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,601300.0,615800.0,622100.0,637086.0,703645.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
847819,United States,USA,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,NaN,8498117.0,8948645.0,9297787.0,9602123.0,10223729.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880804,Zambia,ZMB,"Enrolment in tertiary education, all programme...",SE.TER.ENRL,1433.0,NaN,NaN,NaN,4681.0,8403.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
assert(len(df1_cc['Country Code'].unique()) == len(country_names))

In [23]:
df2 = pd.read_excel('API_NY.ADJ.NNTY.PC.CD_DS2_en_excel_v2_458.xls')
df2.columns = [try_to_int(i) for i in df2.iloc[2].tolist()]
df2 = df2.iloc[3:].reset_index(drop=True)
df2

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23111.232224,24093.582639,24018.878425,24457.602265,24859.525435,26702.132157,20971.438087,24994.772988,NaN,NaN
1,Africa Eastern and Southern,AFE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1343.347342,1236.498033,1167.651297,1313.117754,1257.046421,1228.514026,1113.051649,1232.351821,NaN,NaN
2,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,577.260184,550.241360,485.792229,498.041221,467.286034,469.477760,476.899060,339.682114,NaN,NaN
3,Africa Western and Central,AFW,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1838.464813,1589.531108,1397.764260,1316.043520,1412.503047,1440.327860,1399.151980,1415.982509,NaN,NaN
4,Angola,AGO,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3490.921523,2374.531996,1207.215215,1501.637531,1507.863453,1328.708143,1100.962834,1232.948233,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1323.269168,1366.411677,1016.887235,849.030933,665.907750,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5646.961218,5127.603776,4681.677958,5505.776036,5740.363783,5449.048686,4658.248020,5717.120396,NaN,NaN
264,Zambia,ZMB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1375.312762,1050.129153,988.532254,1138.740164,1142.799848,1010.373209,698.249518,614.647305,NaN,NaN
265,Zimbabwe,ZWE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1081.898309,1088.188448,1082.175060,907.633691,1980.607561,1218.164067,1161.171249,1472.254411,NaN,NaN

In [39]:
df2_cc = df2[df2['Country Code'].isin(country_names.keys())]
df2_cc

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
14,Austria,AUT,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,42465.766606,35811.685775,37196.167747,38441.732719,41651.807390,40712.575341,39515.557407,43281.733480,NaN,NaN
21,Bulgaria,BGR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6643.095885,5819.877624,6238.054937,6970.955514,7752.822898,8165.632881,8311.253957,10114.523521,NaN,NaN
22,Bahrain,BHR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,17401.907476,17185.115639,17895.102273,18636.574103,18425.341043,18774.707464,17191.269814,NaN,NaN,NaN
29,Brazil,BRA,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9089.283144,6552.617213,6449.635997,7502.893702,6849.388187,6679.167884,5253.753204,5647.133915,NaN,NaN
31,Brunei Darussalam,BRN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,31088.498767,25264.398319,23378.565034,23966.157123,23763.632679,24219.103259,22442.284666,23060.068132,NaN,NaN
35,Canada,CAN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,41604.080514,35365.694019,34319.795653,36906.149126,37836.008036,37803.077323,34972.782942,42000.913461,NaN,NaN
37,Switzerland,CHE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,68999.918113,66347.416159,63668.848942,63071.250219,63208.827086,62588.336183,62971.416174,69631.658237,NaN,NaN
39,Chile,CHL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11688.278247,11281.813073,11133.063386,11819.491877,12167.308446,11556.470339,9756.161448,11095.880284,NaN,NaN
45,Colombia,COL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6572.181160,5244.145101,5050.789019,5421.758926,5601.735364,5361.516527,4578.598876,5094.625554,NaN,NaN
53,Cyprus,CYP,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,22731.183594,20165.851562,20629.857422,22676.039062,24887.570312,24414.591797,22488.416016,24687.482422,NaN,NaN
58,Denmark,DNK,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,53755.909093,45798.029802,46794.911369,49220.803913,52836.996121,50967.611502,52242.031368,58796.359932,NaN,NaN
70,Spain,ESP,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24700.290104,21716.487975,22489.733444,23874.662003,25791.535566,25125.871722,22321.683938,25118.453138,NaN,NaN
75,Finland,FIN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,41149.747880,35093.914640,35796.982576,37839.342439,40864.148369,39659.405241,40405.343874,44416.200199,NaN,NaN
81,United Kingdom,GBR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,39539.116496,37441.028418,34104.356814,34065.891026,36072.663208,NaN,NaN,NaN,NaN,NaN
89,Greece,GRC,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,17998.023522,15044.374439,14903.304934,15546.665997,16496.935845,16155.113668,14754.743492,17262.586536,NaN,NaN
111,Ireland,IRL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,38740.091701,34222.829916,35982.577774,38093.974816,41648.300449,42297.147915,39973.740210,49607.175415,NaN,NaN
117,Jamaica,JAM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4465.353643,4515.146718,4412.182669,4714.816634,4947.399529,5040.671774,4397.272364,4704.284034,NaN,NaN
118,Jordan,JOR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3917.095973,3736.502281,3668.050477,3810.797619,3893.363835,3973.991539,3833.614012,3905.906753,NaN,NaN
119,Japan,JPN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,30542.977694,28006.306867,31470.252918,31134.541943,31788.516090,32283.770717,31293.415999,30520.070483,NaN,NaN
126,"Korea, Rep.",KOR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23855.823521,23450.989905,23960.529116,25890.446316,27237.403077,25831.455150,25451.517170,28072.203759,NaN,NaN
159,Malta,MLT,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,Mauritius,MUS,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8839.161578,8194.757439,8599.241964,9572.136458,10358.526827,10263.538099,8094.482298,8167.696743,NaN,NaN
174,Nigeria,NGA,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2695.913108,2322.324850,1877.412313,1661.475398,1756.201058,1845.208813,1744.180390,1702.482480,NaN,NaN
176,Netherlands,NLD,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43058.080456,36999.532440,37170.143764,40003.301819,43940.042396,42706.659126,41293.757374,46419.707121,NaN,NaN
177,Norway,NOR,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,78188.048941,61241.287335,58475.323883,61772.577708,66488.263382,60649.023133,53949.802497,69953.019234,NaN,NaN
185,Panama,PAN,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11017.875258,11982.039220,12440.269051,13242.292985,13217.710031,13342.468707,10887.591090,11830.987183,NaN,NaN
190,Poland,POL,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11957.209040,10613.080625,10405.661262,11609.618131,13050.242230,13241.256602,13333.543285,15098.239664,NaN,NaN
194,Portugal,PRT,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,17781.067522,15410.878013,16058.319567,17263.457030,18831.445306,18587.777080,17471.065565,19318.467557,NaN,NaN
205,Saudi Arabia,SAU,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,18648.263504,16175.073075,16043.714200,16633.878002,19156.953810,18613.738350,16512.389169,NaN,NaN,NaN
208,Singapore,SGP,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,47257.567985,43257.862023,44514.645953,47208.510798,48006.335097,46216.418102,40860.480663,50689.992701,NaN,NaN
223,Sweden,SWE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,51104.430765,43373.545426,43610.186697,45639.940562,46269.208667,44558.122934,45322.007070,51830.626615,NaN,NaN
251,United States,USA,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,47633.251784,49077.966344,49564.351977,51472.058012,53858.129985,55620.403898,53874.659081,59009.454837,NaN,NaN
264,Zambia,ZMB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1375.312762,1050.129153,988.532254,1138.740164,1142.799848,1010.373209,698.249518,614.647305,NaN,NaN

In [40]:
assert(len(df2_cc['Country Code'].unique()) == len(country_names))

In [42]:
a = {i['Indicator Code']: i['Indicator Name'] for _, i in df1_cc.iterrows()}
b = {i['Indicator Code']: i['Indicator Name'] for _, i in df2_cc.iterrows()}
indicator_names = {**a, **b}
indicator_names

{'SE.TER.ENRL': 'Enrolment in tertiary education, all programmes, both sexes (number)',
 'NY.ADJ.NNTY.PC.CD': 'Adjusted net national income per capita (current US$)'}

In [43]:
def fill(df2, data=None):
    if data is None:
        data = {}
    years = df2.columns[df2.columns.str.isdigit()]
    for i, row in df2.iterrows():
        ccode = row['Country Code']
        cname = row['Country Name']
        icode = row['Indicator Code']
        iname = row['Indicator Name']    
        keyid = f"{ccode}_{icode}"
        for year in years:
            val = row[year]
            if pd.isna(val):
                continue
            year_key = int(year)
            data[(keyid, year_key)] = val ;"""{
                'value': val,
                'ccode': ccode,
                'cname': cname,
                'icode': icode,
                'iname': iname
            }"""
    return data

In [45]:
data_df1 = fill(df1_cc)
data_df2 = fill(df2_cc)

In [46]:
def data_to_df(data, fn=None):
    keys = sorted(data, key=lambda x: (x[1], x[0]))
    cols = sorted(set([i[0] for i in keys]))
    inds = sorted(set([int(i[1]) for i in keys]))
    df3 = pd.DataFrame(index=inds, columns=cols)
    for key in keys:
        df3.loc[key[1]][key[0]] = data[key]
    if fn:
        df3.to_csv(fn)
    return df3

def load_df(fn):
    return pd.read_csv(fn, index_col=0)

def store_df(data, fn):
    data_to_df(data, fn)
    return load_df(fn)

df3 = store_df(data_df1, 'df3.csv')
df3

,AUT_SE.TER.ENRL,BGR_SE.TER.ENRL,BHR_SE.TER.ENRL,BRA_SE.TER.ENRL,BRN_SE.TER.ENRL,CAN_SE.TER.ENRL,CHE_SE.TER.ENRL,CHL_SE.TER.ENRL,COL_SE.TER.ENRL,CYP_SE.TER.ENRL,...,NLD_SE.TER.ENRL,NOR_SE.TER.ENRL,PAN_SE.TER.ENRL,POL_SE.TER.ENRL,PRT_SE.TER.ENRL,SAU_SE.TER.ENRL,SGP_SE.TER.ENRL,SWE_SE.TER.ENRL,USA_SE.TER.ENRL,ZMB_SE.TER.ENRL
1970,NaN,NaN,NaN,430473.0,NaN,NaN,NaN,78430.0,85560.0,NaN,...,NaN,NaN,8947.0,NaN,NaN,NaN,13771.0,NaN,NaN,1433.0
1971,59778.00000,99596.0,289.0,569230.0,NaN,NaN,51426.0,101087.0,99262.0,698.0,...,231167.0,50047.0,15074.0,397897.0,50095.0,8492.0,13983.0,141218.0,8498117.0,NaN
1972,66401.00000,107296.0,312.0,696215.0,NaN,NaN,53595.0,127238.0,116709.0,810.0,...,247964.0,53598.0,18280.0,399060.0,53389.0,9471.0,15598.0,141367.0,8948645.0,NaN
1973,73467.00000,117103.0,352.0,785159.0,NaN,NaN,56534.0,146451.0,130682.0,921.0,...,NaN,57914.0,21716.0,429646.0,55184.0,11337.0,16831.0,133168.0,9297787.0,NaN
1974,78787.00000,121798.0,612.0,954674.0,NaN,NaN,60329.0,145003.0,148613.0,849.0,...,NaN,63838.0,24292.0,481295.0,59845.0,14882.0,18195.0,131614.0,9602123.0,4681.0
1975,84101.00000,127319.0,669.0,1089808.0,NaN,NaN,62584.0,149647.0,176098.0,NaN,...,264297.0,64582.0,26289.0,521899.0,64666.0,19773.0,22607.0,128879.0,10223729.0,8403.0
1976,96736.00000,128593.0,703.0,1119849.0,NaN,1079960.0,64720.0,134149.0,202437.0,NaN,...,288026.0,66628.0,30473.0,575499.0,79702.0,26437.0,22969.0,162640.0,11184859.0,8783.0
1977,104525.00000,129507.0,1226.0,1182411.0,331.0,NaN,72375.0,131793.0,237477.0,NaN,...,305150.0,73320.0,34720.0,613842.0,95841.0,32729.0,24053.0,171181.0,11012137.0,7053.0
1978,110948.00000,142644.0,1207.0,1251116.0,NaN,NaN,74730.0,130982.0,253547.0,1097.0,...,320501.0,72999.0,34302.0,622631.0,85360.0,43897.0,24114.0,190105.0,11285787.0,7308.0
1979,118672.00000,117028.0,1069.0,1340662.0,436.0,NaN,78120.0,127349.0,267885.0,1455.0,...,328968.0,75720.0,37031.0,626289.0,92149.0,47242.0,21022.0,198798.0,11260092.0,7340.0
1980,127746.00000,108308.0,1314.0,1409243.0,NaN,NaN,81530.0,145497.0,271630.0,1522.0,...,350778.0,78401.0,40369.0,609997.0,91373.0,52610.0,23256.0,200999.0,11569899.0,NaN
1981,136774.00000,101359.0,1908.0,1419426.0,NaN,NaN,85127.0,NaN,318293.0,1940.0,...,360033.0,79117.0,42425.0,589134.0,92152.0,62074.0,25705.0,171356.0,12096895.0,7541.0
1982,140720.00000,97785.0,2348.0,1436287.0,NaN,NaN,88385.0,158117.0,335833.0,1977.0,...,371515.0,82511.0,45060.0,544895.0,94958.0,70657.0,30966.0,176115.0,12371672.0,8062.0
1983,146351.00000,95723.0,NaN,1479397.0,218.0,NaN,90568.0,178332.0,356000.0,1804.0,...,379047.0,88510.0,44568.0,495902.0,99165.0,82132.0,35192.0,181103.0,12425780.0,8781.0
1984,154126.00000,98612.0,NaN,NaN,607.0,NaN,95661.0,188665.0,378586.0,2201.0,...,384407.0,91330.0,52224.0,475816.0,101308.0,87821.0,35943.0,184199.0,12464661.0,8768.0
1985,165313.00000,104333.0,4235.0,NaN,NaN,NaN,105897.0,197437.0,391490.0,2580.0,...,390244.0,94089.0,55303.0,456661.0,112851.0,102983.0,39913.0,179478.0,12241940.0,NaN
1986,173215.00000,113795.0,4180.0,1451191.0,601.0,1639410.0,110111.0,214273.0,417654.0,3134.0,...,404866.0,94658.0,62143.0,454190.0,103585.0,113529.0,42317.0,176589.0,12247055.0,14492.0
1987,179909.00000,125576.0,3333.0,1470555.0,945.0,NaN,117017.0,224338.0,434623.0,3419.0,...,399776.0,104246.0,55633.0,450205.0,129277.0,116208.0,44976.0,175588.0,12503511.0,13066.0
1988,188192.00000,135852.0,4894.0,1503560.0,NaN,NaN,121693.0,234973.0,457834.0,4247.0,...,413488.0,106904.0,51650.0,458585.0,NaN,NaN,46990.0,178423.0,12766000.0,14861.0
1989,192700.00000,150517.0,NaN,1518904.0,NaN,1727260.0,125158.0,NaN,474787.0,5066.0,...,415847.0,114855.0,50762.0,493552.0,NaN,123848.0,50743.0,181146.0,13055000.0,14465.0
1990,199845.00000,157861.0,NaN,1540080.0,NaN,1840837.0,132753.0,NaN,487448.0,5852.0,...,437488.0,129343.0,53235.0,505727.0,156701.0,139790.0,55672.0,184812.0,13538000.0,15343.0
1991,205767.00000,188479.0,6868.0,1619310.0,NaN,1916801.0,137486.0,261800.0,510649.0,6554.0,...,478869.0,142521.0,58625.0,544893.0,185762.0,153967.0,60225.0,192611.0,13710150.0,NaN
1992,216529.00000,185914.0,7147.0,1591176.0,1388.0,1942814.0,143067.0,297122.0,535320.0,5898.0,...,493563.0,154180.0,63848.0,549308.0,190856.0,163688.0,65359.0,207265.0,14360965.0,NaN
1993,221389.00000,195447.0,7763.0,1652333.0,1454.0,1746919.0,146266.0,324594.0,547468.0,6263.0,...,506580.0,166499.0,69451.0,627308.0,247523.0,192625.0,72826.0,222826.0,14486304.0,NaN
1994,227444.00000,206179.0,7676.0,1716263.0,1539.0,1776792.0,148664.0,334808.0,576540.0,6732.0,...,532405.0,176722.0,69437.0,747159.0,276534.0,201090.0,75985.0,234466.0,14305352.0,NaN
1995,233989.00000,223030.0,7701.0,NaN,NaN,1783716.0,148154.0,342788.0,588322.0,7765.0,...,502928.0,172967.0,76798.0,876057.0,300573.0,233710.0,83914.0,245932.0,14278799.0,NaN
1996,238981.00000,250336.0,8096.0,1868529.0,NaN,1763105.0,148024.0,367094.0,644188.0,8874.0,...,491748.0,180383.0,80980.0,1021351.0,319525.0,251945.0,92140.0,261209.0,14261778.0,NaN
1997,240632.00000,262757.0,NaN,NaN,NaN,NaN,NaN,380603.0,772291.0,9982.0,...,468970.0,185320.0,NaN,1182360.0,NaN,273992.0,NaN,275217.0,NaN,NaN
1998,247498.00000,260487.0,NaN,2203599.0,2917.0,1192570.0,152653.0,406553.0,879840.0,NaN,...,461374.0,183026.0,102502.0,1191099.0,351784.0,296927.0,NaN,280712.0,13284002.0,22701.0
1999,252893.00000,270077.0,11048.0,2456961.0,3705.0,1220651.0,156390.0,450952.0,877944.0,10842.0,...,469885.0,187482.0,108764.0,1399090.0,356790.0,371522.0,NaN,335124.0,13769362.0,23155.0
2000,261229.00000,261321.0,NaN,2781328.0,3984.0,1212161.0,156879.0,452177.0,934085.0,10414.0,...,487649.0,190943.0,118502.0,1579571.0,373745.0,404094.0,NaN,346878.0,13202880.0,NaN
2001,264669.00000,247006.0,NaN,3125745.0,4479.0,NaN,163373.0,NaN,977243.0,11934.0,...,504042.0,190054.0,117864.0,1774985.0,387703.0,432348.0,NaN,358020.0,13595580.0,NaN
2002,223735.00000,228394.0,NaN,3582105.0,4418.0,NaN,170085.0,521609.0,989745.0,13927.0,...,516769.0,197064.0,117601.0,1906268.0,396601.0,444800.0,NaN,382851.0,15927987.0,NaN
2003,229802.00000,230513.0,19079.0,3994422.0,4546.0,NaN,185965.0,567114.0,NaN,18272.0,...,526767.0,212395.0,130026.0,1983360.0,400831.0,525344.0,NaN,414657.0,16611711.0,NaN
2004,238522.00000,228468.0,NaN,4275027.0,4917.0,NaN,195947.0,580815.0,1112574.0,20849.0,...,543396.0,213845.0,128558.0,2044298.0,395063.0,573803.0,NaN,429623.0,16900472.0,NaN
2005,244410.00000,237909.0,18841.0,4572297.0,5023.0,NaN,199696.0,663694.0,1223594.0,20078.0,...,564983.0,213940.0,126242.0,2118081.0,380937.0,603771.0,NaN,426723.0,17272044.0,NaN
2006,253139.00000,243464.0,18403.0,NaN,5094.0,NaN,204999.0,661142.0,1314972.0,20587.0,...,579622.0,214711.0,130838.0,2145687.0,367312.0,636445.0,NaN,422614.0,17487476.0,NaN
2007,260975.00000,258692.0,NaN,5272877.0,5284.0,NaN,213112.0,753398.0,1372674.0,22227.0,...,590121.0,215237.0,132660.0,2146926.0,366729.0,674412.0,NaN,413710.0,17758870.0,NaN
2008,284791.00000,264463.0,NaN,5958135.0,5607.0,NaN,224469.0,804981.0,1487186.0,25688.0,...,602286.0,212672.0,134290.0,2165980.0,376917.0,714877.0,183627.0,406879.0,18248124.0,NaN
2009,308150.00000,274247.0,NaN,6115138.0,6107.0,NaN,233488.0,876243.0,1570447.0,30986.0,...,618502.0,219282.0,135209.0,2149998.0,373002.0,757770.0,198634.0,422580.0,19102814.0,NaN
2010,350187.00000,287086.0,NaN,6552707.0,5776.0,NaN,248639.0,987643.0,1674420.0,32233.0,...,650905.0,224706.0,139116.0,2148676.0,383627.0,903567.0,213446.0,455025.0,20427708.0,NaN
2011,361797.00000,285265.0,40175.0,6929324.0,6626.0,NaN,257696.0,1061527.0,1849466.0,32118.0,...,780014.0,229743.0,133497.0,2080334.0,396268.0,1021288.0,236891.0,463530.0,21016126.0,55759.0
2012,376498.00000,284995.0,40498.0,7241405.0,8336.0,NaN,269573.0,1118773.0,1958429.0,31772.0,...,793678.0,238224.0,140213.0,2007212.0,390273.0,1206007.0,243546.0,453328.0,20994112.0,56680.0
2013,422778.21875,283959.0,37094.0,7541112.0,8797.0,NaN,279832.0,1174011.0,2109224.0,31965.0,...,NaN,255416.0,124375.0,1902718.0,371000.0,1356602.0,255348.0,436603.0,19972624.0,NaN
2014,421224.81250,283294.0,38113.0,8072146.0,11292.0,NaN,289570.0,1205182.0,2220652.0,33674.0,...,NaN,264207.0,NaN,1762666.0,362200.0,1496730.0,NaN,429444.0,19700220.0,NaN
2015,425971.68750,278953.0,38901.0,8285475.0,10866.0,NaN,294450.0,1221774.0,2293550.0,37166.0,...,842601.0,268231.0,NaN,NaN,337507.0,1527769.0,NaN,428557.0,19531728.0,NaN

In [47]:
df4 = store_df(data_df2, 'df4.csv')
df4

,AUT_NY.ADJ.NNTY.PC.CD,BGR_NY.ADJ.NNTY.PC.CD,BHR_NY.ADJ.NNTY.PC.CD,BRA_NY.ADJ.NNTY.PC.CD,BRN_NY.ADJ.NNTY.PC.CD,CAN_NY.ADJ.NNTY.PC.CD,CHE_NY.ADJ.NNTY.PC.CD,CHL_NY.ADJ.NNTY.PC.CD,COL_NY.ADJ.NNTY.PC.CD,CYP_NY.ADJ.NNTY.PC.CD,...,NLD_NY.ADJ.NNTY.PC.CD,NOR_NY.ADJ.NNTY.PC.CD,PAN_NY.ADJ.NNTY.PC.CD,POL_NY.ADJ.NNTY.PC.CD,PRT_NY.ADJ.NNTY.PC.CD,SAU_NY.ADJ.NNTY.PC.CD,SGP_NY.ADJ.NNTY.PC.CD,SWE_NY.ADJ.NNTY.PC.CD,USA_NY.ADJ.NNTY.PC.CD,ZMB_NY.ADJ.NNTY.PC.CD
1970,1761.383580,NaN,NaN,392.525898,NaN,3414.622294,NaN,788.891319,285.990785,NaN,...,2561.716875,2758.579457,NaN,NaN,772.143610,633.989228,NaN,4162.113913,4553.443166,NaN
1971,2033.970761,NaN,NaN,447.417339,NaN,3758.307738,NaN,954.333397,304.803219,NaN,...,2923.658507,3144.566975,808.695553,NaN,877.460294,771.965691,996.463716,4508.968476,4862.801957,260.399597
1972,2497.417791,NaN,NaN,520.752666,NaN,4257.451046,NaN,1036.653587,331.919852,NaN,...,3554.264198,3707.469911,862.929866,NaN,1072.628562,892.899199,1167.499534,5296.044499,5308.059146,283.201796
1973,3332.098712,NaN,NaN,682.444121,NaN,4839.689668,NaN,1396.619731,390.629664,NaN,...,4704.223712,4797.596350,961.354342,NaN,1471.451208,1172.829197,1515.510140,6413.205134,5879.222097,271.692279
1974,3957.524192,NaN,NaN,880.893594,NaN,5712.946183,NaN,1272.001000,451.595352,NaN,...,5435.491264,5678.386895,1065.863015,NaN,1708.259654,3611.433643,2061.224439,7050.944973,6121.835494,410.999837
1975,4500.816852,NaN,NaN,997.066412,NaN,6148.625044,NaN,541.470988,468.079962,NaN,...,6220.911558,6798.644497,1184.962545,NaN,1780.007472,4358.568847,2260.632106,8849.708765,6530.889097,362.349644
1976,4855.456556,NaN,NaN,1200.090286,NaN,7231.924597,NaN,741.689078,543.362218,1024.723022,...,6788.336004,7272.304637,1200.873092,NaN,1837.295361,5868.347221,2428.731941,9468.325957,7209.041869,353.922572
1977,5800.345869,NaN,NaN,1344.006820,NaN,7288.631412,NaN,1041.522698,691.299785,1332.724243,...,7873.759204,8224.045118,1423.154693,NaN,1911.447051,6296.303325,2468.127727,9859.674544,7948.156401,334.825190
1978,6956.923372,NaN,NaN,1484.284529,NaN,7439.306745,NaN,1182.336071,817.647670,1734.137451,...,9520.870004,8994.209712,1655.597820,NaN,2018.206149,6631.886496,2788.211560,10825.374688,8893.574278,377.983509
1979,8311.172615,NaN,NaN,1621.276495,NaN,7922.762841,NaN,1593.283915,952.191199,2287.084961,...,10810.745532,9962.592254,1822.907143,NaN,2272.583559,6069.344380,3402.357407,12757.261980,9517.841073,409.355760
1980,9175.135294,1895.491495,1931.249346,1623.607141,NaN,8745.604821,NaN,2109.197929,1116.084960,3762.486572,...,11501.440095,12006.794749,1944.745350,NaN,2775.593809,9693.929730,4009.061438,14680.603383,10117.118074,465.404160
1981,7864.491315,1903.681002,3365.448450,1762.827600,NaN,9752.938458,NaN,2490.882548,1182.595877,3545.211914,...,9497.464231,12048.287675,2136.587847,NaN,2647.398948,11550.567097,4482.744953,13275.500183,11452.057498,521.359875
1982,7896.856165,1848.261436,5517.150054,1820.247733,NaN,9873.077907,NaN,1683.178185,1228.694467,3620.515869,...,9145.361239,11904.337991,2410.941932,NaN,2443.934768,11111.864000,4876.335479,11593.428609,12043.706903,503.189127
1983,8040.735666,1587.358926,5864.206736,1259.181719,NaN,10706.574851,NaN,1272.308283,1167.951496,3547.873779,...,8836.197872,11483.139251,2546.746830,NaN,2181.521891,9439.342013,5486.684197,10583.844633,12770.516486,384.926012
1984,7571.967499,1685.612494,5297.785299,1272.655857,NaN,11097.109824,NaN,1185.612944,1112.388371,3690.630615,...,8295.564671,11506.387737,2493.892334,NaN,1986.544121,8197.474450,6157.126066,11050.520770,14283.904767,298.852876
1985,7740.789041,1638.178142,3496.020560,1105.834136,NaN,11332.258972,NaN,968.884803,979.180530,3878.414795,...,8111.386181,12237.215886,2670.602598,NaN,2149.069379,7281.832786,5975.044050,11509.613444,15165.045483,231.340422
1986,11018.276761,1933.192095,3300.190536,1356.447814,NaN,11704.987163,NaN,1064.256256,968.462663,4807.759766,...,11317.881421,14973.045990,2583.524183,NaN,3148.041716,5926.197756,5659.443953,15273.826060,15855.901011,128.353625
1987,13792.323979,2667.056028,3239.779493,1454.963875,NaN,13252.829639,NaN,1275.866070,958.976605,5708.232910,...,13835.520512,17521.807917,2836.294836,NaN,3969.647727,5514.320456,6065.892260,18595.279962,16750.110972,184.178602
1988,14880.064368,2092.520867,4133.123291,1599.459270,NaN,15354.498048,NaN,1451.633623,1037.181353,6525.632324,...,14596.239162,18515.220727,2277.466235,NaN,4691.177933,5580.229354,7395.316082,20852.660619,18162.287252,311.305420
1989,14792.558033,2031.310748,3720.047808,2150.390682,8187.000601,16740.828940,NaN,1637.868291,986.041751,6882.020996,...,14326.889931,17954.128981,2160.495820,NaN,5100.447929,5617.688634,8777.944901,21697.038439,19138.556894,325.373625
1990,18400.430061,1831.426780,4726.906595,2137.153859,8828.052281,17207.343173,NaN,1853.089036,1171.833541,8259.683594,...,17198.460274,20580.534892,2318.217744,977.074334,6718.214865,5959.889152,10038.869804,25680.582585,19905.262841,263.282008
1991,18906.061520,955.523004,6271.815397,1868.360455,10328.675299,17586.476602,NaN,2181.048122,1219.542034,8310.265625,...,17656.303222,21541.914139,2424.346866,1311.334237,7693.710649,6490.885836,12202.454543,26549.294041,20284.239923,282.569645
1992,20999.647418,1029.511050,5880.375743,1760.496932,11069.696874,16735.091102,NaN,2680.842108,1443.779502,9681.503906,...,19305.401803,23144.743943,2788.566776,1526.956160,9395.092882,6602.068474,13795.029748,26897.011804,21195.537028,265.060387
1993,20251.098941,1079.921360,6080.656611,1941.851365,10536.441790,16170.209939,NaN,2886.287638,1638.972301,9017.120117,...,18777.693026,21015.147320,3004.069488,1756.538836,8262.714661,6195.523277,15241.773424,19711.194007,21893.222605,282.430209
1994,21546.584564,1001.333421,6513.300940,2710.774933,10370.152082,16017.944157,NaN,3221.928779,2003.218543,9940.164062,...,20271.847877,22345.281185,3168.570604,2282.401479,8591.613870,5991.888798,18683.653147,21623.408111,23103.561404,317.794836
1995,25386.488728,2062.436164,6941.126712,4065.635070,11706.001975,16619.926578,40553.488247,4097.932520,2205.061451,12442.874023,...,24342.433899,26850.074154,3075.090167,3089.875430,10041.034881,6192.265304,21917.986517,25357.171909,24106.773226,313.465828
1996,25025.553420,1321.489314,6787.126345,4474.081868,12023.722177,17002.699842,39111.015164,4357.177898,2233.953854,12306.182617,...,24320.397275,28212.573485,3213.622832,3508.289669,10379.760807,6400.230310,22712.226613,27555.750884,25325.974712,289.925774
1997,22282.145264,1231.070194,6718.708161,4508.442886,11941.891178,17542.888960,34659.044308,4728.672475,2412.609299,11472.291992,...,22413.370053,28300.191758,3338.315887,3499.555849,9810.453579,6653.041682,23608.052121,25246.407112,26804.187221,345.296355
1998,22789.998689,1600.716056,6880.754913,4264.075539,9834.469540,16794.229268,35760.723233,4583.063189,2202.372913,13496.974609,...,23160.033593,27906.675610,3533.450504,3847.934265,10359.037516,5865.093177,18971.848759,25552.046732,28277.595088,268.399804
1999,22355.194500,1439.822798,6607.018815,2837.469325,10418.716740,17868.200033,34989.615885,4067.053866,1833.482970,12438.039062,...,23844.124513,28327.119879,3556.845087,3746.895427,10587.887064,6360.789885,18719.434058,26206.538541,29584.421583,264.628618
2000,20391.623865,1373.015133,8632.094191,3049.840016,11952.892075,19386.445410,32930.979657,4103.771598,2057.273244,11346.930664,...,21979.629741,27940.509636,3584.184571,3847.901058,9581.170966,6907.058623,20280.949154,25025.380673,31166.938141,260.713497
2001,20142.909993,1546.245025,8533.760594,2553.031275,11709.594730,18986.154174,32248.527529,3767.445648,2029.438909,11974.135742,...,21894.760303,29556.185275,3559.765106,4251.626773,9719.101154,6731.234777,18081.471987,22859.305628,31888.818031,298.413047
2002,21920.521978,1857.505326,8853.071569,2280.035939,12199.432818,19536.532773,33733.792986,3658.126957,1986.540194,13312.547852,...,23744.078319,33279.788607,3742.485783,4438.613765,10710.617501,6913.370711,18040.140874,25085.752411,32505.703802,293.480700
2003,26718.418440,2371.187279,9997.897678,2467.249664,13066.521235,22685.430543,40939.393193,3831.864108,1865.208572,17016.919922,...,29386.405683,39178.403238,3718.517218,4815.263554,13119.006821,7371.542732,19054.059273,31984.255321,33555.338958,323.642168
2004,30611.249197,2944.821166,11008.744719,2943.664135,15181.593522,26001.660174,45346.779694,4580.736699,2257.008831,19631.492188,...,33160.504891,44745.836894,3973.037469,5524.964249,14937.843014,8354.622427,21398.133633,36331.384744,35535.186898,382.884357
2005,31858.616035,3338.792654,12190.774272,3854.843282,17312.760458,29228.971625,48033.981787,5570.932214,2791.184695,20741.382812,...,34410.375700,52495.252731,4260.520094,6747.053336,15491.624466,10265.561122,23539.883706,37127.980382,37454.472247,492.509569
2006,33992.180434,3734.941840,13198.271675,4774.959625,19666.293228,33132.807958,50174.762288,6243.952296,3032.792854,22178.787109,...,37261.556017,57640.681541,4605.258619,7543.108523,16057.544247,11386.352317,27931.842026,40452.409664,39721.626650,691.224257
2007,39159.005776,4613.521831,14975.580277,5996.469022,21657.464773,36533.763055,51128.297938,7053.877345,3847.329844,25734.277344,...,42859.083278,66289.581049,5407.732671,9386.707871,18495.424417,12305.984758,32959.450371,46849.537314,40525.819747,697.997066
2008,43635.109928,5971.739988,15701.519710,7084.238256,25813.669685,37787.351624,52789.140235,7731.672622,4371.342612,30762.457031,...,45441.874314,72925.956160,6339.830790,11941.317446,19952.091030,14403.831417,32449.603420,48848.586776,40165.550979,952.336763
2009,39649.394824,5759.802811,13028.644172,6849.155789,20726.989506,32987.199663,55813.210224,7671.384331,4276.887700,28200.117188,...,41457.631379,62013.787649,6795.661583,9791.852122,18430.258026,12407.276251,30670.109564,39718.794797,39149.311147,844.763492
2010,39022.256155,5620.271104,13918.803270,8758.135585,24672.509687,38679.332803,63191.043154,9546.465845,5117.455380,26890.353516,...,41485.072690,69298.769903,7015.425194,10519.151772,17942.089396,14642.577300,40278.664993,45188.855530,41128.274545,998.567171
2011,42625.237355,6408.162620,13149.738231,10109.918032,30854.483196,42617.841264,70650.760298,10604.980164,5695.136938,29378.478516,...,44453.574188,77792.246286,8352.883816,11566.237160,18736.508053,17380.872046,44678.099778,51652.818109,42673.679289,1183.583684
2012,39980.630839,6243.723979,17353.238375,9206.275018,32986.942712,43023.425828,68518.989364,11887.515930,6324.501921,25145.888672,...,40527.215084,79207.141698,9470.203419,11004.725188,16374.401441,18596.862216,45310.399462,49429.392370,44760.645152,1344.743825
2013,41694.071409,6422.010445,17460.764878,9304.493238,32969.194541,43052.134837,69446.630985,12514.969409,6536.184760,23695.255859,...,42399.313949,81275.574702,10522.961193,11445.939400,17588.490925,18517.148067,45715.855538,52089.635276,45715.108372,1409.081210
2014,42465.766606,6643.095885,17401.907476,9089.283144,31088.498767,41604.080514,68999.918113,11688.278247,6572.181160,22731.183594,...,43058.080456,78188.048941,11017.875258,11957.209040,17781.067522,18648.263504,47257.567985,51104.430765,47633.251784,1375.312762
2015,35811.685775,5819.877624,17185.115639,6552.617213,25264.398319,35365.694019,66347.416159,11281.813072,5244.145101,20165.851562,...,36999.532440,61241.287335,11982.039220,10613.080625,15410.878013,16175.073075,43257.862023,43373.545426,49077.966344,1050.129153
2016,37196.167747,6238.054937,17895.102273,6449.635997,23378.565034,34319.795653,63668.848942,11133.063386,5050.789019,20629.857422,...,37170.143764,58475.323883,12440.269051,10405.661262,16058.319567,16043.714200,44514.645953,43610.186697,49564.351977,988.532254
2017,38441.732719,6970.955514,18636.574103,7502.893702,23966.157123,36906.149126,63071.250219,11819.491877,5421.758926,22676.039062,...,40003.301819,61772.577708,13242.292985,11609.618131,17263.457030,16633.878002,47208.510798,45639.940562,51472.058012,1138.740164
2018,41651.807390,7752.822898,18425.341043,6849.388187,23763.632679,37836.008036,63208.827086,12167.308446,5601.735364,24887.570312,...,43940.042396,66488.263382,13217.710031,13050.242230,18831.445306,19156.953810,48006.335097,46269.208667,53858.129985,1142.799848
2019,40712.575341,8165.632881,18774.707464,6679.167884,24219.103259,37803.077323,62588.336183,11556.470339,5361.516527,24414.591797,...,42706.659126,60649.023133,13342.468707,13241.256602,18587.777080,18613.738350,46216.418102,44558.122934,55620.403898,1010.373209
2020,39515.557407,8311.253957,17191.269814,5253.753204,22442.284666,34972.782942,62971.416174,9756.161448,4578.598876,22488.416016,...,41293.757374,53949.802497,10887.591090,13333.543285,17471.065565,16512.389169,40860.480663,45322.007070,53874.659081,698.249518
2021,43281.733480,10114.523521,NaN,5647.133915,23060.068132,42000.913461,69631.658237,11095.880284,5094.625554,24687.482422,...,46419.707121,69953.019234,11830.987183,15098.239664,19318.467557,NaN,50689.992701,51830.626615,59009.454837,614.647305

In [48]:
from os import makedirs
from matplotlib import pyplot as plt

In [49]:
def to_png(df, col, path="pngs", size=(8, 4)):
    cmp1, cmp2 = col.split("_")
    nam1, nam2 = country_names[cmp1], indicator_names[cmp2]    
    ful1 = f"{cmp1} - {nam1}"
    ful2 = f"{cmp2} - {nam2}"
    ax = pd.DataFrame(df[col].tolist(), index=df.index, columns=[ful1]).plot.bar(title=ful2, figsize=size)
    fpath1 = f"{path}/by_country/{ful1}"
    fpath2 = f"{path}/by_param/{ful2}"    
    makedirs(f"{path}/all", exist_ok=True)
    makedirs(fpath1, exist_ok=True)
    makedirs(fpath2, exist_ok=True)
    ax.figure.savefig(f"{fpath1}/{col}.png")
    ax.figure.savefig(f"{fpath2}/{col}.png")
    ax.figure.savefig(f"{path}/all/{col}.png")
    plt.close()

In [50]:
%%time
[to_png(df3, col) for col in df3.columns];
[to_png(df4, col) for col in df4.columns];

CPU times: total: 17.4 s
Wall time: 25.7 s